@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your study library</h1>
    <p>This is a website where we can add all the information related to our study topics.</p>
</div>
