@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Development library</h1>
    <p>In this section we find the study topics related to software development.</p>
</div>
